@model Sistema_de_Ventas.Models.tbMunicipios




<div class="modal fade" id="confirm-Insert-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-Insert-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-Insert-modal-label">Insertar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*action="@Html.Action("Crear", "Create")"*@

            <div class="modal-body">
                <div class="form-group">
                    <label>Departamento</label>
                    <div class="col-md-10">
                     <select id="ddldepartamento" class="form-control"></select>
                        <label style="color:red" id="lblUsuario">Ingrese el usuario</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="col-md-10">
                       
                        <br />
                        <label style="color:red" id="lblContrasenia">Ingrese la contraseña</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Empleado</label>
                    <div class="col-md-10">
                        <select id="empleadoId" name="empleadoId" class="form-control"></select>
                        <label style="color:red" id="lblEmpleadoId">Seleccione un empleado</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                </div>
            </div>

            <div class="modal-footer">
                <input type="button" value="Create" class="btn btn-primary" onclick="enviarCRear()" />
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CerrarModal()">Cancelar</button>
                @*<a href="#" id="btn-confirm-Insert" class="btn btn-danger" onclick="DeleteModal()">Eliminar</a>*@
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {

    })
</script>